BODY,
TD {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial;
    font-size: 20pt;
}

table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    size: 340px 630px;
    margin: 0px;
    
}

tr {
    display: table-row;
}

td {
    height: 20px;
    display: table-cell;
    border: 1px solid black;
    padding: 0.6em;
}
